.breadcrumbs {
	display: flex;

	& .breadcrumb-item {
		margin-right: 10px;
		color: material-color($dk, "600");

		&:hover {
			color: material-color($dk, "700");
		}

		&:focus {
			color: material-color($dk, "900");
		}

		&.breadcrumb-item-active {
			color: material-color($p);

			&:hover {
				color: material-color($p, "600");
			}

			&:focus {
				color: material-color($p, "900");
			}

			&:focus-visible {
				box-shadow: 0 0 0 2px material-color($p, "200");
			}
		}
	}

	& .breadcrumb-item:not(:last-child) {
		position: relative;
		margin-right: 24px;

		&::after {
			content: "";
			position: absolute;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 17l5-5l-5-5z'/%3E%3C/svg%3E");
			opacity: 0.4;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 2em;
			height: 2em;
			top: 50%;
			right: -26px;
			transform: translate(0, -50%);
		}
	}
}
