.btn,
.ripple-e {
	position: relative;
	overflow: hidden;
}

.ripple {
	background-color: currentColor;
	position: absolute;
	border-radius: 50%;
	pointer-events: none;
	transition: all 0.8s ease;
	filter: opacity(0.2);
	animation: ripple 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon .ripple,
.center-ripple .ripple {
	top: 50% !important;
	left: 50% !important;
	transform: scale(0) translate(-50%, -50%);
	animation: ripple_center 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards !important;
}

@keyframes ripple_center {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes ripple {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
