$checked-svg: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 78.369 78.369' fill='white' version='1.1' viewBox='0 0 78.369 78.369' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m78.049 19.015-48.591 48.591c-0.428 0.428-1.121 0.428-1.548 0l-27.59-27.591c-0.427-0.426-0.427-1.119 0-1.547l6.704-6.704c0.428-0.427 1.121-0.427 1.548 0l20.113 20.112 41.113-41.113c0.429-0.427 1.12-0.427 1.548 0l6.703 6.704c0.428 0.427 0.428 1.119 0 1.548z'/%3E%3C/svg%3E%0A";

.checkbox {
	position: relative;
	appearance: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 40px;
	width: 40px;

	&[type="radio"] {
		border-radius: 50%;

		&::after {
			border-radius: 100%;
			background-image: none;
		}

		&:checked::after {
			outline-width: 4px;
			outline-offset: -2px;
			background-color: tm-color("white");
		}
	}

	&:after,
	&:before {
		pointer-events: none;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		height: 16px;
		width: 16px;
		background-size: 0px 0px;
		background-position: center;
		transform: translate(-50%, -50%);
		background-image: url("#{$checked-svg}");
		background-color: transparent;
		outline: 2px solid tm-color("gray", 6);
		background-repeat: no-repeat;

		@include rounded(2);
		@include transition();
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: transparent;
		height: 40px;
		width: 40px;

		@include rounded(100);
	}

	&:hover:before {
		background: tm-color("gray", 1);
	}

	&:active:before,
	&:focus-visible:before {
		background: tm-color("gray", 2);
	}

	&:checked {
		&:after {
			background-color: tm-color("primary");
			outline-color: tm-color("primary");
			background-size: 10px 10px;
		}

		&:active:before,
		&:focus-visible:before {
			background: tm-color("primary", 2);
		}

		&:hover:before {
			background: tm-color("primary", 1);
		}
	}
}
