.textbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	position: relative;
	overflow: hidden;

	background: tm-color("gray", 2);
	color: tm-color("black");

	@include rounded();
	@include transition();
	@include padding(0,10);

	&:hover:not(.focus) {
		background: tm-color("gray", 3);
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: tm-color("primary", 5);
		transform: scaleX(0);
		transition: all 0.2s ease;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: tm-color("gray", 5);
		transition: all 0.2s ease;
	}

	&:hover::before {
		height: 2px;
		background: tm-color("gray", 6);
	}

	&.focus::after {
		transform: scaleX(1);
	}

	& .left,
	& .right {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	& .left {
		margin-right: 10px;
	}

	& .right {
		margin-left: 10px;
		margin-right: 10px;
	}

	& .action {
		pointer-events: all;
	}

	& .mdi {
		font-size: $font-size * 20px;
		color: tm-color("gray", 5);
	}

	&:not(.floating) .input {
		color: transparent;
	}

	& .middle {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;

		& .label {
			position: absolute;
			top: 50%;
			left: 0%;
			user-select: none;
			transform: translateY(-50%);
			font-size: $font-size * 1.2;
			transition: all 0.2s cubic-bezier(0.65, 0.05, 0, 1.01);
			pointer-events: none;
			color: tm-color("gray", 8);
		}

		& .input {
			width: 100%;
			padding-top: 30px;
			padding-bottom: 10px;
			border: none;
			outline: none;
			appearance: none;
			background: transparent;

			color: tm-color("black");
		}
	}

	&.textarea .label {
		top: 0%;
		transform: translateY(20px);
	}

	&.floating .label {
		left: 0%;
		top: 0%;
		font-size: $font-size * 12px;
		transform: translateY(50%) translateX(2px);
	}

	&.focus.floating .label {
		color: tm-color("primary", 5);
	}

	&.border-bottom {
		background: transparent !important;

		& .label,
		& .input {
			margin-left: -8px !important;
		}

		& .input {
			width: calc(100% + 16px);
		}
	}

	&.outlined {
		background: transparent;
		box-shadow: 0 0 0 1px tm-color("gray", 5);
		color: tm-color("gray", 8);
		transition: none;
		border-radius: $border-radius * 4px;
		overflow: visible;

		&::after,
		&::before {
			background: transparent;
		}

		&:hover:not(.focus) {
			background: transparent;
			box-shadow: 0 0 0 1px tm-color("gray", 6);
			color: tm-color("gray", 8);
		}

		&.focus {
			background: transparent;
			box-shadow: 0 0 0 2px tm-color("primary", 5);
			color: tm-color("primary", 5);
		}

		& .input {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&.floating .label {
			margin-top: -15px;
			background: tm-color("white");
		}
	}

	&.textarea.outlined .input {
		padding-top: 10px;
	}
}
