.toggle {
  z-index: 0;
  position: relative;
  display: inline-block;

  & > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
  }

  & > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  & > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
  }

  & > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    @include elevation(4);
    transition: background-color 0.2s, transform 0.2s;
  }

  & > input:checked {
    right: -10px;
    background-color: material-color($p);
  }

  & > input:checked + span::before {
    background-color: rgba(material-color($p), 0.6);
  }

  & > input:checked + span::after {
    background-color: material-color($p);
    transform: translateX(16px);
  }

  &:hover > input {
    opacity: 0.2;
  }

  & > input:focus {
    opacity: 0.2;
  }

  &:hover > input:focus {
    opacity: 0.4;
  }

  /* Active */
  & > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
  }

  & > input:active + span::before {
    background-color: rgba(material-color($p), 0.6);
  }

  & > input:checked:active + span::before {
    background-color: rgba(0, 0, 0, 0.38);
  }

  /* Disabled */
  & > input:disabled {
    opacity: 0;
  }

  & > input:disabled + span {
    color: rgb(0, 0, 0);
    opacity: 0.38;
    cursor: default;
  }

  & > input:disabled + span::before {
    background-color: rgba(0, 0, 0, 0.38);
  }

  & > input:checked:disabled + span::before {
    background-color: rgba(material-color($p), 0.6);
  }
}
