.badge {
    display: inline;
    font-size: 12px;
    background: $p;
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 0px 5px;
}
.badge.secondary {
	background:$s;
}
.badge.dark {
	background:$bl;
}
.badge.danger {
	background:$d;
}
.badge.success {
	background:$su;
}