.banner {
  position: relative;
  overflow: hidden;
  background: white;
  padding: 18px 20px;
  border-radius: 4px;
}
.banner .banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner .banner-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin-right: 20px;
}
.banner .banner-content.center {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}
.banner .banner-title {
  font-size: 20px !important;
  margin-bottom: 10px !important;
  color: #424242 !important;
}
.banner .banner-description {
  font-size: 15px;
  line-height: 28px;
  color: #3b3b3b !important;
}
.banner .banner-bottom {
  text-align: right;
  margin-top: 10px;
}
.banner.with-border {
  border:1px solid #f4f4f4;
}