.bottom-appbar {
  display: flex;
  background: #fff;
  justify-content: center;
}
.bottom-appbar .item {
  text-align: center;
  width: max-content;
  padding: 10px 20px;
  color: #666666;
  font-size: 12px;
  transition: all 0.2s ease;
}
.bottom-appbar .item:hover {
  background: rgba(0, 0, 0, 0.06);
}
.bottom-appbar .item:focus {
  background: rgba(0, 0, 0, 0.1);
}
.bottom-appbar .ripple {
  background: rgba(0, 0, 0, 0.2);
}
.bottom-appbar .item .icon {
  font-size: 24px;
  display: block;
  color: inherit;
  margin-bottom: 5px;
}

.bottom-appbar .item.active {
  color: $p;
}
.bottom-appbar .item.active:hover {
  background: rgba($p, 0.1);
}
.bottom-appbar .item.active:focus {
  background: rgba($p, 0.2);
}
.bottom-appbar .item.active .ripple {
  background: rgba($p, 0.2);
}