.button-group {
    display: flex;
}

.button-group * {
    margin: 0;
    border-radius: 0px;
}

.button-group *:last-child {
    border-radius: 0px 4px 4px 0px;
}

.button-group *:first-child {
    border-radius: 4px 0px 0px 4px;
}