// MIXINS 
@mixin btn($col) {
    background: $col;
    &:hover {
        background: darken($col, 4%);
        -webkit-box-shadow: $bbsh;
        box-shadow: $bbsh;
    }
    &:active {
        background: darken($col, 8%);
        -webkit-box-shadow: $bbsa;
        box-shadow: $bbsa;
    }
    &:focus-visible {
        background: darken($col, 12%);
        -webkit-box-shadow: $bbsf;
        box-shadow: $bbsf;
    }
}

@mixin btn-o($col) {
    background: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 1px lighten($col, 10%);
    box-shadow: inset 0px 0px 0px 1px lighten($col, 10%);
    color: $col;
    &:hover {
        -webkit-box-shadow: inset 0px 0px 0px 1px darken($col, 4%);
        box-shadow: inset 0px 0px 0px 1px darken($col, 4%);
    }
    &:active {
        -webkit-box-shadow: inset 0px 0px 0px 1px darken($col, 8%);
        box-shadow: inset 0px 0px 0px 1px darken($col, 8%);
    }
    &:focus {
        -webkit-box-shadow: inset 0px 0px 0px 1px darken($col, 4%);
        box-shadow: inset 0px 0px 0px 1px darken($col, 4%);
        background: rgba($col, 0.1);
    }
    & .ripple {
        background: rgba($col, .2);
    }
}

@mixin btn-t($col) {
    background: transparent;
    color: $col;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    &:hover {
        background: rgba($col, 0.1);
    }
    &:focus {
        background: rgba($col, 0.2);
    }
    & .ripple {
        background: rgba($col, .2);
    }
}

//
// Base button styles
button,
.btn {
    background: $p;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: $bbs;
    box-shadow: $bbs;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: middle;
    align-content: middle;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include btn($p);
}

button.unelevated,
.btn.unelevated {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

button.secondary,
.btn.secondary {
    @include btn($s);
}

button.warning,
.btn.warning {
    @include btn($w);
}

button.danger,
.btn.danger {
    @include btn($d);
}

button.success,
.btn.success {
    @include btn($su);
}

button.dark,
.btn.dark {
    @include btn($bl);
}

// OUTLINED BUTTONS 
button.outlined,
.btn.outlined {
    @include btn-o($p);
}

button.outlined.secondary,
.btn.outlined.secondary {
    @include btn-o($s);
}

button.outlined.success,
.btn.outlined.success {
    @include btn-o($su);
}

button.outlined.warning,
.btn.outlined.warning {
    @include btn-o($w);
}

button.outlined.danger,
.btn.outlined.danger {
    @include btn-o($d);
}

button.outlined.dark,
.btn.outlined.dark {
    @include btn-o($bl);
}

// TEXT BUTTONS 
button.text,
.btn.text {
    @include btn-t($p);
}

button.text.secondary,
.btn.text.secondary {
    @include btn-t($s);
}

button.text.success,
.btn.text.success {
    @include btn-t($su);
}

button.text.warning,
.btn.text.warning {
    @include btn-t($w);
}

button.text.danger,
.btn.text.danger {
    @include btn-t($d);
}

button.text.dark,
.btn.text.dark {
    @include btn-t($bl);
}

// DISABLED BUTTONS
button:disabled,
.btn:disabled,
button.disabled,
.btn.disabled {
    cursor: not-allowed;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #cccccc !important;
    color: #838383 !important;
}

button:disabled .ripple,
.btn:disabled .ripple,
button.disabled .ripple,
.btn.disabled .ripple {
    display: none !important;
}

// ICON BUTTON
button.icon,
.btn.icon {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 100%;
    color: #8d8787 !important;
    --ripple-color: #0303031a;
    font-size: 24px;
    padding: 10px 10px;
    margin: 0;
    vertical-align: middle;
}
button.icon:hover,
.btn.icon:hover {
    background:rgba(0,0,0,0.1);
}
button.icon:focus,
.btn.icon:focus {
    background:rgba(0,0,0,0.2);
}

// BUTTON SIZES
button.large,
.btn.large {
    padding: 15px 26px;
    font-size: 18px;
}

button.small,
.btn.small {
    font-size: 11px;
    padding: 8px 15px;
}

button.small .material-icons,
.btn.small .material-icons {
    display: none;
}

// FAB
.fab {
    border-radius: 50px;
    padding: 15px 15px;
    line-height: 1.8;
}

.fab.with-text {
    padding: 10px 15px;
}

.fab.small {
    padding: 8px !important;
}

.fab.small .material-icons {
    display: block;
}

// BUTTON GROUP
.button-group button,
.button-group .btn {
    margin-right: -6px !important;
    border-radius: 0px;
}

.button-group button:last-child,
.button-group .btn:last-child {
    border-radius: 4px;
}

.button-group button:first-child,
.button-group .btn:first-child {
    border-radius: 4px;
}

button:not(.icon, .fab) .material-icons,
.btn:not(.icon, .fab) .material-icons {
    font-size: 13px !important;
    height: 18px;
    width: 18px;
}

// BUTTON STYLES
button.shaped,
.btn.shaped {
    border-radius: 50px !important;
}

button.square,
.btn.square {
    border-radius: 0px !important;
}