.checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 1.5;
}

.checkbox > input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    opacity: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    pointer-events: none;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.checkbox > span::before {
    content: "";
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    -webkit-transform: translate(3px, 4px) rotate(-45deg);
        -ms-transform: translate(3px, 4px) rotate(-45deg);
            transform: translate(3px, 4px) rotate(-45deg);
}

.checkbox > input:checked,
.checkbox > input:indeterminate {
    background-color: $p;
}

.checkbox > input:checked + span::before,
.checkbox > input:indeterminate + span::before {
    border-color: $p;
    background-color: $p;
}

.checkbox > input:checked + span::after,
.checkbox > input:indeterminate + span::after {
    border-color: rgb(255, 255, 255);
}

.checkbox > input:indeterminate + span::after {
    border-left: none;
    -webkit-transform: translate(3px, 4px);
        -ms-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
}

.checkbox:hover > input {
    opacity: 0.2;
}

.checkbox > input:focus {
    opacity: 0.12;
}

.checkbox:hover > input:focus {
    opacity: 0.16;
}

.checkbox > input:active {
    opacity: 1;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.checkbox > input:active + span::before {
    border-color: $p;
}

.checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

.checkbox > input:disabled {
    opacity: 0;
}

.checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.checkbox > input:checked:disabled + span::before,
.checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}


.radio {
    z-index: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
}
.radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    outline: none;
    opacity: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    pointer-events: none;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.radio > span::before {
    content: "";
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px;
    border-color: rgba(0 , 0 , 0, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $p;
    -webkit-transform: translate(5px, 5px) scale(0);
        -ms-transform: translate(5px, 5px) scale(0);
            transform: translate(5px, 5px) scale(0);
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.radio > input:checked {
    background-color: $p;
}

.radio > input:checked + span::before {
    border-color: $p;
}

.radio > input:checked + span::after {
    -webkit-transform: translate(5px, 5px) scale(1);
        -ms-transform: translate(5px, 5px) scale(1);
            transform: translate(5px, 5px) scale(1);
}

.radio:hover > input {
    opacity: 0.04;
}

.radio > input:focus {
    opacity: 0.12;
}

.radio:hover > input:focus {
    opacity: 0.16;
}

.radio > input:active {
    opacity: 1;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.radio > input:active + span::before {
    border-color: $p;
}

.radio > input:disabled {
    opacity: 0;
}

.radio > input:disabled + span {
    color: rgba(0 , 0 , 0, 0.38);
    cursor: initial;
}

.radio > input:disabled + span::before {
    border-color: currentColor;
}

.radio > input:disabled + span::after {
    background-color: currentColor;
}


.switch {
    z-index: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
}

.switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0 , 0 , 0, 0.38);
    outline: none;
    opacity: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    pointer-events: none;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.switch > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgba(0 , 0 , 0, 0.38);
    vertical-align: top;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.switch > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255 , 255 , 255);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.switch > input:checked {
    right: -10px;
    background-color: $p;
}

.switch > input:checked + span::before {
    background-color: rgba($p, 0.6);
}

.switch > input:checked + span::after {
    background-color: $p;
    -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
            transform: translateX(16px);
}

.switch:hover > input {
    opacity: 0.2;
}

.switch > input:focus {
    opacity: 0.12;
}

.switch:hover > input:focus {
    opacity: 0.16;
}

.switch > input:active {
    opacity: 1;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.switch > input:active + span::before {
    background-color: rgba($p, 0.6);
}

.switch > input:checked:active + span::before {
    background-color: rgba(0 , 0 , 0, 0.38);
}

.switch > input:disabled {
    opacity: 0;
}

.switch > input:disabled + span {
    color: rgb(0 , 0 , 0);
    opacity: 0.38;
    cursor: default;
}
.switch > input:disabled + span::before {
    background-color: rgba(0 , 0 , 0, 0.38);
}

.switch > input:checked:disabled + span::before {
    background-color: rgba($p, 0.6);
}
