.background-primary {
	background: $p !important;
}
.background-light-p {
	background: $pl !important;
}
.background-dark-p {
	background: $pd !important;
}
.background-secondary {
	background: $s !important;
}
.background-light-s {
	background: $sl !important;
}
.background-dark-s {
	background: $sd !important;
}
.background-danger {
	background: $d !important;
}
.background-dark {
	background: $bl !important;
}
.background-warning {
	background: $w !important;
}
.background-success {
	background: $s !important;
}
.background-light-grey {
	background:#f7f7f7 !important;
}
.text-muted {
	color: rgba($bl , 0.8) !important;
}
.text-primary {
	color: $p !important;
}
.text-secondary {
	color: $s !important;
}
.text-success {
	color: $su !important;
}
.text-warning {
	color: $w !important;
}
.text-danger {
	color: $d !important;
}
.text-primary-light {
	color: $pl !important;
}
.text-primary-dark {
	color: $pd !important;
}
.text-secondary {
	color: $s !important;
}
.text-secondary-light {
	color: $sl !important;
}
.text-secondary-dark {
	color: $sd !important;
}
.text-white {
	color: white !important;
}
.link {
	text-decoration: none;
	color: $p;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}
.link:hover {
	color: lighten($p, 10%);
}
.link:active {
	color: lighten($p, 20%);
}
