.btn.fab {
    min-height: 50px;
    min-width: 50px;
    border-radius: 50px;
    max-height: 50px;
    max-width: 50px;
    overflow: hidden;
    font-size: 1.5rem;
}

.btn.fab.small {
    min-height: 35px;
    min-width: 35px;
    border-radius: 25px;
    max-height: 35px;
    max-width: 35px;
    overflow: hidden;
    font-size: 1.2rem;
}