.ripple-e {
    position: relative;
    overflow: hidden;
}

.ripple-e.light-ripple .ripple,
.btn.light-ripple .ripple,
button.light-ripple .ripple {
    background-color: rgba(255, 255, 255, 0.16);
}

.ripple-e.dark-ripple .ripple,
.btn.dark-ripple .ripple,
button.dark-ripple .ripple {
    background-color: rgba(0, 0, 0, 0.16);
}

.ripple-e.primary-ripple .ripple,
.btn.primary-ripple .ripple,
button.primary-ripple .ripple {
    background-color: rgba($p, 0.16);
}

.ripple-e.secondary-ripple .ripple,
.btn.secondary-ripple .ripple,
button.secondary-ripple .ripple {
    background-color: rgba($s, 0.16);
}

.ripple-e.danger-ripple .ripple,
.btn.danger-ripple .ripple,
button.danger-ripple .ripple {
    background-color: rgba($d, 0.16);
}

.ripple-e.success-ripple .ripple,
.btn.success-ripple .ripple,
button.success-ripple .ripple {
    background-color: rgba($su, 0.16);
}

.ripple-e.center-ripple .ripple,
.btn.center-ripple .ripple,
button.center-ripple .ripple {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    display: block !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    padding: 0px !important;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-animation: ripple_center 0.6s ease;
    animation: ripple_center 0.6s ease;
}

@-webkit-keyframes ripple_center {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes ripple_center {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

.ripple {
    background-color: var(--ripple-color, rgba(255, 255, 255, 0.3));
    position: absolute;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    border-radius: 50%;
    will-change: transform, opacity;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) .4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) .4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .4s;
    -webkit-animation: ripple 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
            animation: ripple 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
    20% {
        -webkit-filter: opacity(0.6);
                filter: opacity(0.6);
    }
    100% {
        top: 50%;
        left: 50%;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
    20% {
        -webkit-filter: opacity(0.6);
                filter: opacity(0.6);
    }
    100% {
        top: 50%;
        left: 50%;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}