.tooltip {
	background:rgba(97, 97, 97, 0.9);
	position:fixed;
	color:#fff;
	opacity:0;
	pointer-events:none;
	-webkit-transform:scale(.8);
	    -ms-transform:scale(.8);
	        transform:scale(.8);
	padding:5px 10px;
	font-size:0.625rem;
	border-radius:4px;
	-webkit-transition:opacity .2s ease , -webkit-transform 2s , -webkit-clip-path 2s;
	transition:opacity .2s ease , -webkit-transform 2s , -webkit-clip-path 2s;
	-o-transition:opacity .2s ease , transform 2s , clip-path 2s;
	transition:opacity .2s ease , transform 2s , clip-path 2s;
	transition:opacity .2s ease , transform 2s , clip-path 2s , -webkit-transform 2s , -webkit-clip-path 2s;
}
.tooltip.open {
	opacity:1;
	-webkit-transform:translateY(20%);
	    -ms-transform:translateY(20%);
	        transform:translateY(20%);
	-webkit-transition:all .1s ease;
	-o-transition:all .1s ease;
	transition:all .1s ease;
}
@media only screen and (max-width: 700px) {
	.tooltip {
		font-size: 16px;
		-webkit-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
	}
}
