h1 {
  font-size: $font-size * 41.49px;
  font-weight: 400;
}
h2 {
  font-size: $font-size * 38.88px;
  font-weight: 400;
}
h3 {
  font-size: $font-size * 36.44px;
  font-weight: 400;
}
h4 {
  font-size: $font-size * 34.15px;
  font-weight: 400;
}
h5 {
  font-size: $font-size * 32.01px;
  font-weight: 400;
}
h6 {
  font-size: $font-size * 30px;
  font-weight: 400;
}

.display-h1 {
  font-size: $font-size * 96px;
  font-weight: 100;
}

.display-h2 {
  font-size: $font-size * 60px;
  font-weight: 100;
}

.display-h3 {
  font-size: $font-size * 48px;
  font-weight: 400;
}

.display-h4 {
  font-size: $font-size * 34px;
  font-weight: 400;
}

.display-h5 {
  font-size: $font-size * 20px;
  font-weight: 400;
}

.display-h6 {
  font-size: $font-size * 16px;
  font-weight: 400;
}