//App bar
.appbar {
  background: $p;
  padding: 6px 16px 2px 16px;
  color: white;
  display: block;
  transition:all 0.2s ease , top 0.5s ease;
  height: 60px;
  width: 100%;
}
.appbar .name {
  transform: translateY(-70%);
  display: inline-block;
  width: max-content;
  position: relative;
  font-size: 1.25rem;
  margin-left: 12px;
  font-weight: 500;
  margin-bottom: -30px;
}
.appbar a:not(.name) {
  color: white;
  font-size: 24px;
  position: relative;
  padding: 24px 24px;
  display: inline-block;
  background: #0d0b0b00;
  border-radius: 100px;
  margin-right: 5px;
  transition: all 0.2s ease;
}
.appbar a:not(.name):hover {
  background: rgba(255, 255, 255, 0.2);
  user-select: none;
}
.appbar a:not(.name):active  , .appbar a:not(.name):focus  {
  background: rgba(255, 255, 255, 0.3);
}
.appbar a:not(.name) .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 24px;
}
.appbar.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
}
.appbar.fixed.up {
	top: -50%;
}
.appbar .name.no-icon {
  transform: translateY(40%);
}
.appbar.dense {
  padding: 1px 16px 0px 16px;
  height: 50px;
}
.appbar.short {
 box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
width: 18%;
border-radius: 0px 0px 40px 0px;
transition: all 0.2s;
}
.appbar.short .name {
  display: none;
}
.appbar.short .float-right {
  display: contents;
}