.banner {
  padding: 35px 35px 48px 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #f0f0f0;
  max-height: 1000px;
  transform: scale(1);
  transition: all 0.2s;
}
.banner .btn , .banner button {
  float: right;
  margin-left: 5px;
  color: $p;
}
.banner p {
  color: #000000;
}
.banner.close {
	opacity: 0;
	pointer-events: none;
	transform: scale(.9);
	max-height: 0;
}

