//Drawer
.drawer {
	background: white;
	border-radius: 4px;
	width: 100%;
	letter-spacing:0.0125rem;
	min-width: 20%;
	border-right: 1px solid #eaeaea;
	padding: 10px;
}
.drawer.modal {
    position: fixed;
    width: 30%;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
    transition: all 0.2s;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9999;
}
.drawer.modal.open {
	opacity: 1;
    transform: translateX(0%);
    pointer-events: all;
}
.drawer h3 {
	font-size: 1.25rem !important;
	font-weight: 500;
	color: #000000de;
	padding:0px 10px;
	text-align: left;
	margin-bottom: 4px;
}
.drawer > p {
	font-size: 0.875rem;
	font-weight: 400;
	color: #0009;
	text-align: left;
	padding: 0px 10px;
}
.drawer p {
	font-size: 0.875rem;
	font-weight: 400;
	color: #0009;
	text-align: left;
	padding: 0px 10px;
	margin: 10px 0px 5px 0px;
}
.drawer nav {
	margin-top: 20px;
	max-height: 100vh;
	overflow: auto;
}
.drawer nav a {
	background: white;
	padding: 12px 10px;
	margin-bottom: 4px;
	border-radius: 4px;
	font-weight: 500;
	color: black;
	font-size: 0.875rem;
	user-select: none;
	cursor: pointer;
	transition:all 0.2s ease;
	text-align: left;
	display: block;
}
.drawer nav a .material-icons {
	font-size: 22px;
	margin-right: 30px;
	color:#666666;
	float: left;
	transform: translateY(-15%);
}
.drawer nav a:hover {
	background: rgba($bl,.1);
}
.drawer nav a:active , .drawer nav a:focus {
	background: rgba($bl,.2);
}
.drawer nav a.active {
	background:rgba($p,.1);
	color:$p;
}
.drawer nav a.active:hover {
	background:rgba($p,.2);
	color:$p;
}
.drawer nav a.active:active , .drawer nav a.active:focus {
	background:rgba($p,.4);
	color:$p;
}
.drawer nav a.active .material-icons {
	color:$p;
}
.drawer-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 999;
	background:#00000047;
}
