.snackbar-container {
    transition: all 500ms ease;
    transition-property: top, right, bottom, left, opacity;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    min-height: 14px;
    background-color: #070b0e;
    position: fixed;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 22px;
    padding: 18px 24px;
    bottom: -100px;
    top: -100px;
    border-radius: 4px;
    opacity: 0;
    z-index: 9999;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.snackbar-container .action {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    color: lighten($p, 30%) !important;
    box-shadow: none;
    margin: 0 0 0 24px;
    padding: 0;
    min-width: min-content;
    cursor: pointer;
}
.snackbar-container p {
    font-weight: 400;
}

.snackbar-pos.bottom-center {
    top: auto !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.snackbar-pos.bottom-left {
    top: auto !important;
    bottom: 0;
    left: 0;
}

.snackbar-pos.bottom-right {
    top: auto !important;
    bottom: 0;
    right: 0;
}

.snackbar-pos.top-left {
    bottom: auto !important;
    top: 0;
    left: 0;
}

.snackbar-pos.top-center {
    bottom: auto !important;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.snackbar-pos.top-right {
    bottom: auto !important;
    top: 0;
    right: 0;
}


