.table-container {
	border: 1px solid rgba(0,0,0,.12);
	border-radius: 4px;
	background: white;
	overflow: auto;

}
table {
	width: 100%;
	letter-spacing: .0178571429em;
	border-collapse: collapse;
}
table th {
	padding: 16px;
	text-align: left;
	font-size: 0.875rem;
	font-weight: 500;
}
table tbody td {
	border-top: 1px solid #e0e0e0;
	padding: 16px;
	font-size: 0.875rem;
	font-weight: 400;
}
table tbody { 
	margin: 0;
	padding: 0;
}
table tr {
	transition: all 0.1s;
}
table tr:not(.table-head):hover {
	background: #f5f5f5;
}
table tbody tr:last-child{
	border-radius:54px;
}
table td,
table th {
	white-space: normal;
}
