
.chip {
	color: #484848;
	padding: 8px 12px;
	background: #e0e0e0;
	font-size: 0.875rem;
	border-radius: 50px;
	font-weight: 400;
	transition:all 0.2s ease;
	display: inline-block;
}
.chip:hover {
	background: #d8d8d8;
}
.chip .material-icons {
	font-size: 11px;
	transform: scale(2) translateX(-1px);
	margin: 0px 6px;
}
.chip .ripple {
	background: rgba(0 , 0 , 0 , 0.16);
}
 //active
 .chip.active {
 	background: rgba($p , 0.2);
 	color:$p;
 }
 .chip.active:hover {
 	background: rgba($p , 0.3);
 }
 .chip.active .ripple {
 	background: rgba($p, 0.16);
 }