.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%) scale(.8);
	opacity: 0;
	background: white;
	padding: 24px 24px 12px 24px;
	box-shadow: $mbs;
	pointer-events:none;
	border-radius: 4px;
	z-index: 9999;
	max-height: 80vh;
	overflow: auto;
	transition:opacity 0.2s ease , transform 1.5s ease;
}
.dialog.open {
	transform: translate(-50% , -50%) scale(1);
	pointer-events:all;
	opacity: 1;
	transition:all 0.2s ease;
}
.dialog h3 {
	color: rgba(0,0,0,.87);
	font-size: 1.25rem !important;
	font-weight: 500;
}
.dialog p {
	color: #0009;
	font-size: 1rem;
	margin-top: 15px;
}
.dialog .footer {
	margin-top: 22px;
	width: max-content;
	float: right;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,.32);
	display: none;
}
body.dialog-open {
	overflow: hidden;
	padding-right: 17px;
}