
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
h1 , .h1 {
	font-size: 6rem !important;
	font-weight: 100;
	margin-left: -4px;
}
h2 , .h2{
	font-size: 3.75rem !important;
	font-weight: 100;
}
h3 , .h3{
	font-size: 3rem !important;
	font-weight: 400;
}
h4 , .h4 {
	font-size: 2.125rem !important;
	font-weight: 400;
}
h5 , .h5{
	font-size: 1.25rem !important;
	font-weight: 400;
}
h6 , .h6{
	font-size: 1rem !important;
	font-weight: 400;
}
.text-center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.thin {
	font-weight: 100;
}
.italic {
	font-style: italic;
}