.btn.btn-fab {
	$size: $padding * 60px;

	max-width: $size;
	max-height: $size;
	min-width: $size;
	min-height: $size;
	background: material-color($dk, "200");
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: #000;
	cursor: pointer;
	transition: all 0.2s ease;
	user-select: none;
	gap: $padding * 8px;

	@include elevation(4);

	& .mdi {
		font-size: $font-size * 25px;
	}

	&:hover {
		background: material-color($dk, "300");

		@include elevation(8);
	}

	&:active,
	&:focus-visible {
		background: material-color($dk, "400");

		@include elevation(14);
	}

	&.btn-primary {
		background: material-color($p, "500");
		color: #fff;

		&:hover {
			background: material-color($p, "600");
		}

		&:active,
		&:focus-visible {
			background: material-color($p, "700");
		}
	}

	&.btn-secondary {
		background: material-color($s, "500");
		color: #fff;

		&:hover {
			background: material-color($s, "600");
		}

		&:active,
		&:focus-visible {
			background: material-color($s, "700");
		}
	}

	&.btn-danger {
		background: material-color($d, "500");
		color: #fff;

		&:hover {
			background: material-color($d, "600");
		}

		&:active,
		&:focus-visible {
			background: material-color($d, "700");
		}
	}

	&.btn-success {
		background: material-color($g, "500");
		color: #fff;

		&:hover {
			background: material-color($g, "600");
		}

		&:active,
		&:focus-visible {
			background: material-color($g, "700");
		}
	}

	&.btn-warning {
		background: material-color($w, "500");
		color: #fff;

		&:hover {
			background: material-color($w, "600");
		}

		&:active,
		&:focus-visible {
			background: material-color($w, "700");
		}
	}

	&.btn-fab-text {
		$size: unset;

		max-width: $size;
		max-height: $size;
		min-width: $size;
		min-height: $size;
		border-radius: $border-radius * 100px;
		height: $padding * 48px;
		padding: 0 $padding * 20px;
		font-size: $font-size * 14px;
		font-weight: 500;
	}

	&.btn-disabled,
	&:disabled {
		background: material-color($dk, "200");
		color: material-color($dk, "600");
		cursor: default;

		@include elevation(0);
	}
}
