.accordion_parent {
	margin: 0;
	padding: 0;
	list-style: none;
}

.accordion {
	display: flex;
	flex-direction: column;
	flex: 1;
	@include elevation(2);
	background: tm-color("gray", 1);

	&--open &_body {
		display: block;
	}

	&_head {
		display: flex;
		align-items: center;
		padding: $padding * 10px;
		border-radius: $border-radius * 4px;
		z-index: 99;
		position: relative;

		&:hover {
			background: tm-color("gray", 2);
		}
	}

	&_body {
		display: none;
	}
}
