.breadcrumbs {
    display: flex;

    & .item {
        margin-right: 10px;
        color: material-color($dk,"600");

        &:hover {
            color: material-color($dk,"700");
        }

        &:focus {
            color: material-color($dk,"900");
        }

        &.active {
            color: material-color($p);

            &:hover {
                color: material-color($p,"600");
            }

            &:focus {
                color: material-color($p,"900");
            }

            &:focus-visible {
                box-shadow: 0 0 0 2px material-color($p,"200");
            }
        }
    }
}