.dialog .drawer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.2s ease;

    & .content {
        box-shadow: none;
        padding: 0;
        flex: 1;
        transform: scale(1);
        max-height: 100vh;
        min-height: 100vh;
        margin: 0;
    }
}

.dialog.open .drawer {
    transform: translateX(0);
}

.drawer {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 400px;
    background: #fff;
    width: max-content;
    min-width: 200px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: none !important;

    justify-content: flex-start;
    border-right: 1px solid material-color("grey","400");

    & .top {
        padding: $padding*4px #{$padding*8px};
    }

    & .content {
        flex: 1;
        overflow: auto;
    }
}
