.list {
	display: flex;
	flex-direction: column;

	& .item {
		display: flex;
		flex: 1;
		align-items: center;
		padding: $padding * 16px #{$padding * 14px};
		justify-content: space-between;
		color: tm-color("gray", 8);

		&:hover,
		&:focus-visible {
			background: tm-color("gray", 1);
		}

		&.active {
			background: tm-color("primary", 1);
			color: tm-color("primary", 8);

			&:hover,
			&:focus-visible {
				background: tm-color("primary", 2);
			}
		}

		& .left {
			margin-right: 10px;
		}

		& .middle {
			flex: 1;
		}
    
		& .right {
			margin-left: 10px;
		}
	}

	&.small .item {
		padding: $padding * 10px #{$padding * 8px};
	}
}
