.progress {
  display: block;
  width: 100%;
  height: 4px;
  position: relative;
  background: material-color($p, "100");
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: var(--value);
    height: 4px;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    background: material-color($p);
  }

  &.intermediate::after {
    animation: progress-bar-intermediate 1s ease-in-out infinite;
  }

  &.buffering {
    background: radial-gradient(
      circle,
      rgba(230, 230, 230, 1) 0%,
      rgba(230, 230, 230, 1) 51%,
      rgba(255, 255, 255, 1) 51%,
      rgba(255, 255, 255, 1) 100%
    );

    background-size: 6px 6px;
    background-repeat: repeat no-repeat;
    animation: progress-bar-buffering 4s linear infinite;

    &::before {
      content: "";
      display: block;
      width: var(--buffer);
      height: 4px;
      background: material-color($dk, "300");
      transition: all 0.2s ease;
    }
  }

  &.circle {
    appearance: none;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(50%, transparent),
        color-stop(50%, white)
      ),
      -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, white));
    mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(50%, transparent),
        color-stop(50%, white)
      ),
      -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, white));
    mask-image: linear-gradient(transparent 50%, white 50%),
      linear-gradient(to right, transparent 50%, white 50%);
    position: relative;
    overflow: hidden;
    display: block;
    color: material-color($p);
    animation: rotate 6s infinite;
  }
  &.circle:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 100px;
    background-color: transparent;
    -webkit-animation: rotate-shrink 0.75s infinite linear alternate;
    animation: rotate-shrink 0.75s infinite linear alternate;
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }
  25% {
    transform: rotate(630deg);
  }
  37.5% {
    transform: rotate(810deg);
    animation-timing-function: linear;
  }
  50% {
    transform: rotate(1260deg);
  }
  62.5% {
    transform: rotate(1440deg);
    animation-timing-function: linear;
  }
  75% {
    transform: rotate(1890deg);
  }
  87.5% {
    transform: rotate(2070deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(2520deg);
  }
}

@keyframes rotate-shrink {
  0% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  29.4% {
    border-left-color: transparent;
  }
  29.41% {
    border-left-color: currentColor;
  }
  64.7% {
    border-bottom-color: transparent;
  }
  64.71% {
    border-bottom-color: currentColor;
  }
  100% {
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@keyframes progress-bar-buffering {
  0% {
    background-position-x: -100px;
  }
  100% {
    background-position-x: 100px;
  }
}

@keyframes progress-bar-intermediate {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 60%;
  }
  100% {
    width: 100%;
    margin-left: 100%;
  }
}

@keyframes circular {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }
  25% {
    transform: rotate(630deg);
  }
  37.5% {
    transform: rotate(810deg);
    animation-timing-function: linear;
  }
  50% {
    transform: rotate(1260deg);
  }
  62.5% {
    transform: rotate(1440deg);
    animation-timing-function: linear;
  }
  75% {
    transform: rotate(1890deg);
  }
  87.5% {
    transform: rotate(2070deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(2520deg);
  }
}

@keyframes circular-pseudo {
  0% {
    transform: rotate(-30deg);
  }
  29.4% {
    border-left-color: transparent;
  }
  29.41% {
    border-left-color: currentColor;
  }
  64.7% {
    border-bottom-color: transparent;
  }
  64.71% {
    border-bottom-color: currentColor;
  }
  100% {
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    transform: rotate(225deg);
  }
}
