.table-container {
	border: 1px solid tm-color("gray", 3);
	border-radius: 4px;
	background: tm-color("white");
	color: tm-color("black");
	overflow: auto;

  @include elevation(1);

	& table {
		width: 100%;
		letter-spacing: 0.0178571429em;
		border-collapse: collapse;

		& th {
			padding: $padding * 16px;
			text-align: left;
			font-size: 0.875rem;
			font-weight: 500;
		}

		& tbody td {
			border-top: 1px solid tm-color("gray", 3);
			padding: $padding * 16px;
			font-size: 0.875rem;
			font-weight: 400;
		}
		& tbody {
			margin: 0;
			padding: 0;
		}
		& tr:not(.table-head):hover {
			background: tm-color("gray", 1);
		}
		& tbody tr:last-child {
			border-radius: 50px;
		}
		& td:focus {
			box-shadow: inset 0 0 0 1px material-color($p);
		}
		& td,
		& th {
			white-space: normal;
		}
	}
}
