.toggle {
	z-index: 0;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	& input {
		appearance: none;
		z-index: -1;
		position: absolute;
		right: 6px;
		top: -8px;
		display: block;
		margin: 0;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-color: rgb(0 0 0 / 38%);
		outline: none;
		opacity: 0;
		transform: scale(1);
		pointer-events: none;
		transition:
			opacity 0.3s 0.1s,
			transform 0.2s 0.1s;
	}

	& > span::before {
		content: "";
		float: right;
		display: inline-block;
		margin: 5px 0 5px 10px;
		border-radius: 7px;
		width: 36px;
		height: 14px;
		background-color: rgb(0 0 0 / 38%);
		vertical-align: top;
		transition:
			background-color 0.2s,
			opacity 0.2s;
	}

	& > input:active {
		opacity: 1;
		transform: scale(0);
		transition:
			transform 0s,
			opacity 0s;
	}

	& > span {
		display: inline-block;
		width: 100%;
		cursor: pointer;
	}

	& > span::after {
		content: "";
		position: absolute;
		top: 2px;
		right: 16px;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background-color: #fff;

		@include elevation(4);

		transition:
			background-color 0.2s,
			transform 0.2s;
	}

	& > input:checked {
		right: -10px;
		background-color: material-color($p);
	}

	& > input:checked + span::before {
		background-color: rgba(material-color($p), 0.6);
	}

	& > input:checked + span::after {
		background-color: material-color($p);
		transform: translateX(16px);
	}

	&:hover > input {
		opacity: 0.2;
	}

	& > input:focus {
		opacity: 0.2;
	}

	&:hover > input:focus {
		opacity: 0.4;
	}

	& > input:active + span::before {
		background-color: rgba(material-color($p), 0.6);
	}

	& > input:checked:active + span::before {
		background-color: rgb(0 0 0 / 38%);
	}
}

.toggle-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	gap: 8px * $padding;
	user-select: none;

	&.toggle-disabled {
		color: rgb(0 0 0 / 38%);

		& .toggle {
			& > input {
				opacity: 0 !important;
			}

			& > input + span::before {
				background-color: rgb(0 0 0 / 38%);
			}

			& > input + span {
				color: rgb(0 0 0);
				opacity: 0.38;
				cursor: default;
			}

			& > input:checked + span::before {
				background-color: rgba(material-color($p), 0.6);
			}
		}
	}

	&.toggle-error {
		color: material-color($d);

		& .toggle {
			& > input {
				background-color: material-color($d);
			}

			/* stylelint-disable-next-line no-descending-specificity */
			& > input + span::before {
				background-color: material-color($d);
			}

			& > input:checked + span::after {
				background-color: material-color($d) !important;
			}

			& > input:checked + span::before {
				background-color: rgba(material-color($d), 0.6);
			}
		}
	}
}
