.card {
	background: tm-color("white");
	position: relative;
	overflow: hidden;
	border-radius: $border-radius * 4px;
	$a: $padding * 20px;

	@include elevation(2);

	& .card-body {
		padding: 0 $a;
	}

	& .card-footer {
		padding: 6px $a;
	}

	& .card-title {
		font-size: $font-size * 26px !important;
	}

	&.hoverable {
		@include transition();

		&:hover,
		&:focus {
			@include elevation(6);
		}
	}
}
