.card {
  background: white;
  @include elevation(2);
  position: relative;
  overflow: hidden;
  border-radius: $border-radius * 4px;
  $a: $padding * 20px;

  & .body {
    padding: 6px $a;
  }

  & .footer {
    padding: 10px $a;
  }

  & .card-title {
    font-size: $font-size * 26px !important;
  }

  &.hoverable {
    transition: all 0.2s ease;

    &:hover {
      @include elevation(6);
    }
  }
}
