.alert {
  padding: 15px;
  border-radius: #{$border-radius * 6+"px"};
  color: material-color($dk, "800");
  background: material-color($dk, "100");
  border: 1px solid #{material-color($dk, "200")};
  display: flex;

  & .alert-center {
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
  }

  &.primary {
    color: material-color($p, "900");
    background: material-color($p, "100");
    border: 1px solid #{material-color($p, "200")};
  }

  &.secondary {
    color: material-color($s, "900");
    background: material-color($s, "100");
    border: 1px solid #{material-color($s, "200")};
  }

  &.danger {
    color: material-color($d, "900");
    background: material-color($d, "100");
    border: 1px solid #{material-color($d, "200")};
  }

  &.success {
    color: material-color($g, "900");
    background: material-color($g, "100");
    border: 1px solid #{material-color($g, "200")};
  }

  &.warning {
    color: material-color($w, "900");
    background: material-color($w, "100");
    border: 1px solid #{material-color($w, "200")};
  }
}
