.alert {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;

	background-color: tm-color("gray", 1);
	color: tm-color("black");

	@include rounded(4);
	@include padding(8, 10);
	@include font-size(15);

	&_left {
		margin-right: 10px;
	}

	&_center {
		flex: 1;
	}

	&_right {
		margin-left: 10px;
	}

	/**
  *
  * Colors
  *
  */
	&.primary {
		background-color: tm-color("primary", 1);
		color: tm-color("primary", 9);
	}

	&.secondary {
		background-color: tm-color("secondary", 1);
		color: tm-color("secondary", 9);
	}

	&.success {
		background-color: tm-color("green", 1);
		color: tm-color("green", 9);
  }

	&.danger {
		background-color: tm-color("red", 1);
		color: tm-color("red", 9);
	}

	&.warning {
		background-color: tm-color("yellow", 1);
		color: tm-color("black", 9);
	}

  &.blue {
    background-color: tm-color("blue", 1);
    color: tm-color("blue", 9);
  }
}
