.alert {
	padding: #{$padding * 14px} #{$padding * 20px};
	border-radius: #{$border-radius * 6+"px"};
	color: material-color($dk, "100");
	background: material-color($dk, "900");
	display: flex;
	align-items: center;
	justify-content: start;

	& .alert-center {
		flex: 1;
		margin-left: 8px;
		margin-right: 8px;
	}

	&.alert-primary {
		color: white;
		background: material-color($p, "600");
	}

	&.alert-secondary {
		color: material-color($s, "900");
		background: material-color($s, "100");
	}

	&.alert-danger {
		color: material-color($d, "900");
		background: material-color($d, "100");
	}

	&.alert-success {
		color: material-color($g, "900");
		background: material-color($g, "100");
	}

	&.alert-warning {
		color: material-color($w, "900");
		background: material-color($w, "100");
	}
}
