.according {
	background: white;
}
.according .according-item {
	background: white;
	margin-bottom: 5px;
	padding: 14px 18px;
	border-radius: 4px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.according .according-header {
	display: flex;
	font-size: 0.9375rem; 
	align-content: center;
	align-items: center;
}
.according .according-item .according-title {
	font-size: inherit !important;
}
.according .according-item .according-content {
	opacity: 0;
	max-height: 0px;
	transition: all 0.2s ease;
	display: block;
}
.according .according-header .right {
    margin: -10px;
    margin-left: -10px;
    margin-left: auto;
}
.according .according-header .right p {
	display: contents;
}
.according .according-item.open .according-content {
	margin-top: 10px;
	max-height: 500px;
	opacity: 1;
}