.alert {
     padding:11px 15px;
     border-radius:4px;
     background-color:#eee;
     border:1px solid #eee;
     margin:5px;
     display:flex;
     align-items:center;
     font-size:16px;
 }
 .alert .alert-icon {
     display:inline-flex;
     opacity:0.8;
     margin-right:11px;
 }
 .alert .close-alert {
     justify-content:flex-end;
     margin-left:auto;
     user-select:none!important;
     cursor:pointer;
 }
 .alert .alert-message {
     font-size:16px;
 }
 .alert .alert-message .alert-meta {
     font-size:13px;
 }
 .alert.alert-primary {
     background-color:lighten($p , 50%);
     border-color:#1976d2;
     color:$p;
 }
 .alert.alert-success {
     background-color:lighten($su , 60%);
     border-color:$su;
     color:$su;
 }
 .alert.alert-secondary {
     background-color:lighten($s , 50%);
     border-color:$s;
     color:$s;
 }
 .alert.alert-dark {
     background-color:lighten($bl , 80%);
     border-color:$bl;
     color:$bl;
 }
 .alert.alert-danger {
     background-color:lighten($d , 50%);
     border-color:$d;
     color:$d;
 }
.alert.alert-filled {
    background-color:#eee;
}
.alert.alert-filled.alert-primary {
    background-color:$p;
    color: #fff;
}
.alert.alert-filled.alert-danger {
    background-color:$d;
    color: #fff;
}
.alert.alert-filled.alert-success {
    background-color:$su;
    color: #fff;
}
.alert.alert-filled.alert-secondary {
    background-color:$s;
    color: #fff;
}
.alert.alert-filled.alert-dark {
    background-color:$bl;
    color: #fff;
}
