.appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $p;
  user-select: none;
  width: 100%;
  transition: all 0.2s ease;
  padding: 9px 20px;
  color: white;
  min-height: 64px;
  white-space: nowrap;
  max-height: 64px;
}
.appbar button,
.appbar .btn {
  background: #fff0;
  color: white;
  --ripple-color: rgba(255, 255, 255, 0.3) !important;
  box-shadow: none !important;
}
.appbar button:hover,
.appbar .btn:hover {
  background: rgba(255, 255, 255, 0.3) !important;
}
.appbar button:focus,
.appbar .btn:focus {
  background: rgba(255, 255, 255, 0.4) !important;
}
.appbar button .material-icons,
.appbar .btn .material-icons {
  font-size: 21px;
  color: white;
}
.appbar-container {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
}
.appbar .icon {
  color: white !important;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  width: 45px;
  height: 45px;
}
.appbar .appbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.appbar .appbar-content .appbar-brand {
  font-size: 1.25rem;
  margin-right: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}
.appbar .appbar-content .appbar-trigger {
  margin-right: 25px;
}
.appbar .appbar-content .appbar-items {
  display: flex;
  width: max-content;
  padding: 0;
  align-items: center;
}
.appbar .appbar-content .appbar-items.appbar-item--start {
  justify-content: flex-start;
  margin-right: auto;
}
.appbar .appbar-content .appbar-items.appbar-item--end {
  justify-content: flex-end;
  margin-left: auto;
}
ul.appbar-items {
 margin:0;
}
.input-form {
  position: relative;
}
.input-form .input {
  border-radius: 4px;
  padding: 7px 15px;
  background: lighten($p, 5%);
  border: 1px solid transparent;
  color: #fff;
  width: 200px;
  transition: all 0.1s ease;
  font-size: 17px;
}
.input-form .input::placeholder {
  color: #fff;
}
.input-form .input:hover {
  background: lighten($p, 15%);
}
.input-form .input:focus {
  width: 240px;
} 
.input-form .input.input-with-icon {
  padding: 7px 4px 7px 41px;
}
.input-form .search-icon {
  position: absolute;
  left: 8px;
  color: #eee;
  bottom: 50%;
  transform: translateY(50%);
}
.appbar.secondary {
  background:$s;
}
.appbar.secondary .input-form .input {
  background: lighten($s, 5%);
}
.appbar.secondary .input-form .input:hover {
  background: lighten($s, 15%);
}
.appbar.success {
  background:$su;
}
.appbar.success .input-form .input {
  background: lighten($su, 5%);
}
.appbar.success .input-form .input:hover {
  background: lighten($su, 15%);
}
.appbar.danger {
  background:$d;
}
.appbar.danger .input-form .input {
  background: lighten($d, 5%);
}
.appbar.danger .input-form .input:hover {
  background: lighten($d, 15%);
}
.appbar.dark {
  background:$bl;
}
.appbar.dark .input-form .input {
  background: lighten($bl, 5%);
}
.appbar.dark .input-form .input:hover {
  background: lighten($bl, 15%);
}
.appbar.transparent {
  background:transparent;
}
.appbar.transparent .input-form .input {
  background: rgba($bl,0.2);
}
.appbar.transparent .input-form .input:hover {
  background: rgba($bl, 0.4);
}
.appbar.elevating {
  box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
.appbar.short {
  max-width: 135px;
  width: 20%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  border-radius: 0px 0px 20px 0px;
}
.appbar.short .appbar-brand{
  display: none;
}
.appbar ul.appbar-items {
    margin: 0;
}
.appbar .appbar-brand {
   color: currentColor;
}
.appbar.short button , .appbar.short .btn {
  display: none;
}
.appbar.short input , .appbar.short form {
  display: none;
}
.appbar.short button.icon:first-of-type , 
.appbar.short .btn.icon:first-of-type , 
.appbar.short button.icon:last-of-type , 
.appbar.short .btn.icon:last-of-type {
  display: block
}
.appbar.short * {
    margin: 0 !important;
}
