.breadcrumb {
  display: block;
  list-style: none;
}
.breadcrumb .item {
  display: inline-block;
  color: #535353;
  font-size: 16px;
  margin: 0px 8px 0px 0px;
}
.breadcrumb .item:not(:last-of-type):after {
  content:"/";
  margin-left: 10px;
}
.breadcrumb .item.active {
	color: #171717;
}