.card {
	width: 100%;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
	        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
	border-radius: 4px;
	background:white;
	display: block;
}
.card.outlined {
	-webkit-box-shadow:0px 0px 0px 1px rgba(0,0,0,.2);
	        box-shadow:0px 0px 0px 1px rgba(0,0,0,.2);
}
.card img {
	width: 100%;
	height: auto;
}
.card div:first-child:not(.header):before {
	content: "";
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
	background: #0000;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.card div:first-child:not(.header):hover:before {
	background: #0b0a0a1f;
}
.card div.ripple-e:first-child .ripple{
	background: rgba(0 , 0 , 0 , 0.16);
}
.card .content {
	padding: 1rem;
}
.card .content h2 {
	color: black;
	font-size: 1.25rem !important;
	font-weight: 500;
}
.card .content h3 {
	font-size: 0.875rem !important;
	color: #0000008a;
	font-weight: 500;
	margin-top: 5px;
}
.card .content p {  
	margin-top: 14px;
	font-size: 0.875rem;
	color: #0000008a;
	font-weight: 400;
	letter-spacing:0.0178571429rem;
	line-height: 1.25rem;
}
.card .footer {
	padding: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.card .footer .btn , .card .footer button {
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
}
.card .footer .float-right {
	margin-left: auto;
}
.card.collapse .content {
	margin-top: -74px;
}
.card.collapse h2 , .card.collapse h3 {
	color: white;
}
.card.collapse .content p {
	margin-top: 25px;
}
.card .header {
	z-index: 999;
	background: white;
	color: black;
	padding: 1rem;
}
.card .header h2 {
	color: black;
	font-size: 1.25rem !important;
	font-weight: 500;
}
.card .header h3 {
	font-size: 0.875rem !important;
	color: #0000008a;
	font-weight: 500;
	margin-top: 5px;
}
.card.with-header p {
	margin-top: -4px;
}
