.card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}
.card .card-img {
  min-width: 120%;
  max-width: 120%;
  user-select: none;
  margin: 0px -10%;
  margin-top: -20px;
  margin-bottom: 10px;
}
.card .card-ripple-container {
  position: relative;
  overflow: hidden;
  --ripple-color:#00000024;
  padding: 20px 15px;
  cursor: pointer;
}
.card .card-ripple-container:after {
  content: "";
  opacity: 0;
  transition: all 0.2s ease;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #0000001a;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.card .card-ripple-container:hover:after {
  opacity: 1;
}
.card .card-title {
  font-size: 1.25rem !important;
  margin-bottom: 5px;
  font-weight: 500;
}
.card .card-meta-text {
  color: #0000008a;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.card .card-footer {
  display: flex;
  align-items: center;
  padding: 8px 6px;
}
.card .card-footer-start {
  justify-content: flex-start;
  margin-right: auto;
}
.card .card-footer-end {
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
}
.card .card-meta-title {
  font-size: 0.875rem !important;
  color: #0000008a;
  margin-bottom: 10px;
}
.card.collapsed .card-header {
  position: relative;
}
.card.collapsed .card-header .card-header-content {
  position: absolute;
  bottom: 20px;
  left: 0px;
}
.card.collapsed .card-header .card-header-content * {
  color: white;
}
.card .card-header.header-before {
  padding: 12px 15px;
  display: flex;
  align-items: center;
}
.card .row {
    align-items: center;
}
.card.outlined {
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2);
}