.drawer {
	height: 100%;
	position: relative;
	background: white;
	padding: 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.1)
}
.drawer h3 {
	font-size: 1.25rem !important;
	font-weight: 500;
	color: #000000de;
	padding:0px 10px;
	text-align: left;
	margin-bottom: 4px;
}
.drawer > p {
	font-size: 0.875rem;
	font-weight: 400;
	color: #0009;
	text-align: left;
	padding: 0px 10px;
}
.drawer .list {
	border: none;
	height: 90%;
	margin-top: 10px;
	overflow: auto;
}
.drawer .list .list-item {
	border-radius: 4px;
}
.drawer .list .list-item.active *{
	color: $p;
}
.drawer.modal {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 20%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.drawer-overlay {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background:#00000075;
}
.drawer-overlay.open {
	opacity: 1;
	pointer-events:all;
}
.drawer-overlay.open .drawer.modal {
	-webkit-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	        transform: translateX(0%);
}
@media only screen and (max-width: 890px) {
  .drawer-overlay .drawer.modal {
  	width: 50%;
  }
}  
@media only screen and (max-width: 700px) {
  .drawer-overlay .drawer.modal {
  	width: 100%;
  }
}
