.progress {
	position: relative;
	overflow: hidden;
}
.progress , .progress:before , .progress:after {
	transition: all 0.2s ease;
}
.progress.infinite {
	background: #e6e6e6;
	width: 100%;
	height: 4px;
}
.progress.infinite:before {
	content: "";
	animation: progressinfinite 1s ease infinite;
	height: 4px;
	background: $p;
	display: block;
	width: 100%;
}
@keyframes progressinfinite {
	0% {
		width: 15%;
		transform: translate(-100%);
	}
	100% {
		width: 100%;
		transform: translate(100%);
	}
}
.progress.with-value {
	height: 4px;
	background: #e6e6e6;
}
.progress.with-value:before {
	content: "";
	height: 4px;
	width: var(--value , 0%);
	display: block;
	background: $p;
}
.progress.buffering {
	height: 4px;
	width: 100%;
	background: radial-gradient(circle, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
	background-size: 9px 4px;
	background-repeat: repeat no-repeat;
	animation: progressbuffering 3s linear infinite;
}
@keyframes progressbuffering {
	0% {
		background-position-x: -100px;
	}
	100% {
		background-position-x: 100px;
	}
}
.progress.buffering:after {
	content: "";
	height: 4px;
	display: block;
	background: #e6e6e6;
	width: var(--buffer , 0%);
	position: absolute;
	top: 0;
}
.progress.buffering:before {
	content: "";
	height: 4px;
	display: block;
	background: $p;
	width: var(--value , 0%);
	position: absolute;
	top: 0;
	z-index: 9;
}

.progress.circular {
	appearance: none;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	background-color: #c4000000;
	padding: 0px;
	mask-image: linear-gradient(transparent 50%, white 50%), linear-gradient(to right, transparent 50%, white 50%);
	position: relative;
	overflow: hidden;
	display: block;
	color: $p;
	animation: rotate 6s infinite;
}
.progress.circular:before {
	content: "";
	box-sizing: border-box;
	border: solid 0.25em transparent;
	border-top-color: currentColor;
	border-radius: 100px;
	background-color: transparent;
	animation: rotate-shrink 0.75s infinite linear alternate;
	display: block;
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
}
@keyframes rotate{
	0% {
		transform: rotate(0deg);
	}
	12.5% {
		transform: rotate(180deg);
		animation-timing-function: linear;
	}
	25% {
		transform: rotate(630deg);
	}
	37.5% {
		transform: rotate(810deg);
		animation-timing-function: linear;
	}
	50% {
		transform: rotate(1260deg);
	}
	62.5% {
		transform: rotate(1440deg);
		animation-timing-function: linear;
	}
	75% {
		transform: rotate(1890deg);
	}
	87.5% {
		transform: rotate(2070deg);
		animation-timing-function: linear;
	}
	100% {
		transform: rotate(2520deg);
	}
}
@keyframes rotate-shrink {
	0% {
		transform: rotate(-30deg);
	}
	29.4% {
		border-left-color: transparent;
	}
	29.41% {
		border-left-color: currentColor;
	}
	64.7% {
		border-bottom-color: transparent;
	}
	64.71% {
		border-bottom-color: currentColor;
	}
	100% {
		border-left-color: currentColor;
		border-bottom-color: currentColor;
		transform: rotate(225deg);
	}
}