.irs {
    display: block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.irs-line {
    display: block;
    outline: 0 !important;
    overflow: hidden;
    position: relative;
}
.irs-bar {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
}
.irs-shadow {
    display: none;
    position: absolute;
    left: 0;
    width: 0;
}

.irs-handle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: default;
    position: absolute;
    z-index: 1;
}
.irs-handle.type_last {
    z-index: 2;
}
.irs-min,
.irs-max {
    cursor: default;
    position: absolute;
}
.irs-min {
    left: 0;
}
.irs-max {
    right: 0;
}
.irs-from,
.irs-to,
.irs-single {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}
.irs-grid {
    display: none;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    background: #000000;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    color: #000000;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    white-space: nowrap;
}
.irs-disable-mask {
    background: rgba(0, 0, 0, 0);
    cursor: default;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1%;
    width: 102%;
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000000;
    cursor: not-allowed;
    filter: alpha(opacity=0);
}

.irs-disabled {
    opacity: 0.4;
}

.irs-hidden-input {
    background: none !important;
    border-color: transparent !important;
    border-style: solid !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    z-index: -9999 !important;
}

.irs {
    height: 3rem;
}

.irs.irs-with-grid {
    height: 3.75rem;
}

.irs .irs {
    font-weight: 500;
}

.irs .irs-line {
    background-color: lighten($p, 24%);
    border-radius: 0.125rem;
    height: 2px;
    top: 26px;
}

.irs .irs-line:hover {
    cursor: pointer;
}

.irs .irs-bar {
    background-color: $p;
    border-radius: 0.1875rem;
    height: 3px;
    top: 25px;
}

.irs .irs-bar:hover {
    cursor: pointer;
}

.irs .irs-bar:hover::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.irs .irs-shadow {
    background-color: rgba(0, 0, 0, 0.25);
    height: 2px;
    bottom: 26px;
}

.irs .irs-handle {
    background-color: $p;
    border-radius: 50%;
    height: 18px;
    top: 18px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    width: 18px;
}

.irs .irs-handle:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
}

.irs .irs-handle.state_hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

.irs .irs-min,
.irs .irs-max {
    border-radius: 4px;
    color: #999999;
    font-size: 0.625rem;
    line-height: 1.333;
    padding: 2px 4px;
    top: 0;
    text-shadow: none;
}

.irs .irs-from,
.irs .irs-to,
.irs .irs-single {
    background-color: #0009;
    border-radius: 4px;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1.333;
    padding: 6px 8px;
    text-shadow: none;
    -webkit-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
            transform: translateY(-16px);
    z-index: 10;
}

.irs .irs-from::before,
.irs .irs-to::before,
.irs .irs-single::before {
}

.irs .irs-grid {
    height: 25px;
    -webkit-transform: translateY(-9px);
        -ms-transform: translateY(-9px);
            transform: translateY(-9px);
}

.irs .irs-grid-pol {
    background-color: rgba(98, 0, 238, 0.54);
    border-radius: 50%;
    height: 0.25rem;
}

.irs .irs-grid-text {
    color: #999999;
    font-size: 0.625rem;
}

.irs.irs-disabled {
    opacity: 1;
}

.irs.irs-disabled .irs-line,
.irs.irs-disabled .irs-bar,
.irs.irs-disabled .irs-from,
.irs.irs-disabled .irs-to,
.irs.irs-disabled .irs-single,
.irs.irs-disabled .irs-handle {
    background-color: #8c8c8c;
}

.irs.irs-disabled .irs-from::before,
.irs.irs-disabled .irs-to::before,
.irs.irs-disabled .irs-single::before {
    display: none;
}

.irs.irs-disabled .irs-grid-pol {
    background-color: rgba(215, 215, 215, 0.54);
}
.irs-handle.single:focus,
.irs-handle.single:active {
    -webkit-box-shadow: 0px 0px 0px 10px #7616d754;
            box-shadow: 0px 0px 0px 10px #7616d754;
}
