.tooltip {
    background: rgba(0,0,0,0.9);
    position: absolute;
    color: #ffff;
    opacity: 0;
    pointer-events: none;
    transform: translate(0% , 90%) scale(0.8);
    padding: 5px 10px;
    clip-path: circle(40%);
    font-size: 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.tooltip.open {
    opacity: 1;
    clip-path: circle(100%);
    transform: translate(0% , 120%) scale(1);
}
