.tooltip {
	background:rgba(97, 97, 97, 0.9);
	position:absolute;
	color:#fff;
	opacity:0;
	pointer-events:none;
	transform:scale(.8);
	padding:5px 10px;
	font-size:0.625rem;
	border-radius:4px;
	transition:opacity .2s ease , transform 2s , clip-path 2s;
}
.tooltip.open {
	opacity:1;
	transform:translateY(20%);
	transition:all .1s ease;
}
@media only screen and (max-width: 700px) {
	.tooltip {
		font-size: 16px;
		transition: none !important;
	}
}
