<header class="appbar">
	<div class="appbar_left">
		<a class="appbar_title" href="/">Tronic247 Material</a>
	</div>
	
	<div class="appbar_right">
		<button class="icon lg">
			<i class="mdi mdi-menu"></i>
		</button>
		<button class="icon lg">
			<i class="mdi mdi-menu"></i>
		</button>
	</div>
</header>

<style>
	header {
		z-index: 11;
		position: sticky;
		top: 0;
	}
</style>
