.badge {
  padding: $padding * 6px #{$padding * 8px};
  font-size: $font-size * 14px;
  background: material-color($dk, "200");
  border-radius: $border-radius * 4px;
  user-select: none;

  &.primary {
    background: material-color($p);
    color: #fff;
  }

  &.secondary {
    background: material-color($s);
    color: #fff;
  }

  &.danger {
    background: material-color($d);
    color: #fff;
  }

  &.success {
    background: material-color($g);
    color: #fff;
  }

  &.warning {
    background: material-color($w);
    color: #fff;
  }
}
