.badge {
	padding: $padding * 6px #{$padding * 10px};
	font-size: $font-size * 14px;
	background: material-color($dk, "200");
	border-radius: $border-radius * 4px;
	user-select: none;

	&.badge-primary {
		background: material-color($p);
		color: #fff;
	}

	&.badge-secondary {
		background: material-color($s);
		color: #fff;
	}

	&.badge-danger {
		background: material-color($d);
		color: #fff;
	}

	&.badge-success {
		background: material-color($g);
		color: #fff;
	}

	&.badge-warning {
		background: material-color($w);
		color: #fff;
	}
}
