.dialog {
	position: fixed;
	background: #000000cf;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease;

	& .dialog-box {
		background-color: tm-color('white');
		color: tm-color('black');
		padding: 0;
		border-radius: 4px;
		transform: translateY(-12px);
		transition: transform 0.2s cubic-bezier(0.6, 0.64, 0.21, 0.66);
		transform-origin: top;
		min-width: 500px;
	}

	& .dialog-header {
		padding: 9px 12px 3px 12px;
		font-size: 20px;
		display: flex;
		font-weight: 600;
		align-items: center;
		min-height: 46px;
	}

	& .dialog-content {
		padding: 3px 12px;
		margin: 12px 0;
	}

	& .dialog-footer {
		justify-content: flex-end;
		display: flex;
		min-height: 46px;
		padding: 3px 12px;
		align-items: center;
	}

	&--open {
		opacity: 1;

		& .dialog-box {
			transform: translateY(0);
		}
	}
}
