.tooltip {
	pointer-events: none;
	width: max-content;
	user-select: none;
	opacity: 0;

	background: tm-color("gray", 9);
	color: tm-color("white");

	@include font-size(12);
	@include padding(8, 10);
	@include rounded();
	@include transition(opacity);

	&--open {
		opacity: 1;
	}
}
