.tooltip {
  background: material-color($dk, "900");
  font-size: $font-size * 11px;
  color: #fff;
  padding: $padding * 6px;
  border-radius: $border-radius * 4px;
  width: max-content;
  user-select: none;
  transition: opacity 0.2s ease;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}
