/**
*
* Base button styles
*
*/
.btn {
	border: none;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	outline: 1px solid transparent;
	outline-offset: -1px;
	display: inline-flex;
	user-select: none;
	align-items: center;
	justify-content: center;

	background: tm-color("gray", 3);
	color: tm-color("gray", 8);

	@include rounded(4);
	@include font-size();
	@include padding(10, 14);
	@include elevation(2);
	@include transition();

	&:hover,
	&:focus-visible {
		background: tm-color("gray", 4);

		@include elevation(4);
	}

	&:active {
		@include elevation(8);
	}

	/**
  * Outlined
  */
	&.outlined {
		background: transparent;

		color: tm-color("gray", 8);
		outline-color: tm-color("gray", 3);

		@include elevation(0);

		&:hover,
		&:focus-visible {
			background: tm-color("gray", 1);
			outline-color: tm-color("gray", 4);
		}
	}

	/**
  * Text
  */
	&.text {
		background: transparent;

		color: tm-color("gray", 8);

		@include elevation(0);

		&:hover,
		&:focus-visible {
			background: tm-color("gray", 1);
		}
	}

	/**
  * Unelevated
  */
	&.unelevated {
		@include elevation(0);
	}

	/**
  * Disabled
  */
	&.disabled {
		cursor: not-allowed;

		& .ripple {
			display: none;
		}
	}
}

/**
*
* Mixins
*
*/
@mixin filled-button($color: "primary") {
	background: tm-color($color);
	color: tm-color("white");

	&:hover,
	&:focus-visible {
		background: tm-color($color, 6);
	}

	&:active {
		background: tm-color($color, 7);
	}
}

@mixin outlined-button($color: "primary") {
	color: tm-color($color);
	outline-color: tm-color($color);

	&:hover,
	&:focus-visible {
		outline-color: tm-color($color, 6);
	}
}

@mixin text-button($color: "primary") {
	color: tm-color($color);

	&:hover,
	&:focus-visible {
		background: tm-color($color, 1);
	}
}

/**
*
* Button types (filled, outlined, text) with different colors
*
*/
.btn {
	&:not(.outlined, .text) {
		&.primary {
			@include filled-button("primary");
		}

		&.secondary {
			@include filled-button("secondary");
		}

		&.blue {
			@include filled-button("blue");
		}

		&.danger {
			@include filled-button("red");
		}

		&.success {
			@include filled-button("green");
		}

		&.warning {
			@include filled-button("yellow");
			color: #000;
		}

		&.disabled {
			@include elevation(2);

			background: tm-color("gray", 3);
		}
	}

	/**
  * Outlined
  */
	&.outlined {
		&.primary {
			@include outlined-button("primary");
		}

		&.secondary {
			@include outlined-button("secondary");
		}

		&.blue {
			@include outlined-button("blue");
		}

		&.danger {
			@include outlined-button("red");
		}

		&.success {
			@include outlined-button("green");
		}

		&.warning {
			@include outlined-button("yellow");
			color: tm-color("yellow", 8);
		}

		&.disabled {
			background: tm-color("white");
      outline-color: tm-color("gray", 3);
		}
	}

	/**
  * Text
  */
	&.text {
		&.primary {
			@include text-button("primary");
		}

		&.secondary {
			@include text-button("secondary");
		}

		&.blue {
			@include text-button("blue");
		}

		&.danger {
			@include text-button("red");
		}

		&.success {
			@include text-button("green");
		}

		&.warning {
			@include text-button("yellow");
			color: tm-color("yellow", 8);
		}

		&.disabled {
			color: tm-color("gray", 8);
			background: tm-color("white") !important;
		}
	}
}

/**
*
* Button sizes
*
*/
.btn {
	&.xs {
		@include font-size(10);
		@include padding(6, 8);
	}

	&.sm {
		@include font-size(12);
		@include padding(10, 12);
	}

	&.lg {
		@include font-size(16);
		@include padding(12, 14);
	}

	&.xl {
		@include font-size(18);
		@include padding(14, 16);
	}
}

/**
*
* Button sections
*
*/
.btn {
	& &_left {
		margin-right: 8px;
	}

	& &_center {
		flex: 1;
	}

	& &_right {
		margin-left: 8px;
	}
}
