.btn-group {
  display: flex;

  & :not(.ripple) {
    flex: 1;
    border-radius: 0;
  }

  & :first-child:not(.ripple) {
    border-radius: #{$border-radius * 4px} 0 0 #{$border-radius * 4px};
  }

  & :last-child:not(.ripple) {
    border-radius: 0 #{$border-radius * 4px} #{$border-radius * 4px} 0;
  }
}
