.btn-group {
  display: flex;

  & * {
    flex: 1;
    border-radius: 0px;
  }

  & :first-child {
    border-radius: #{$border-radius * 4px} 0px 0px #{$border-radius * 4px};
  }

  & :last-child {
    border-radius: 0px #{$border-radius * 4px} #{$border-radius * 4px} 0px;
  }
}
