.chip {
	padding: $padding * 6px #{$padding * 14px};
	border-radius: $border-radius * 50px;
	background: material-color($dk, "300");
	color: material-color($dk, "800");
	text-decoration: none;
	display: inline-block;
	user-select: none;
	transition: all 0.2s ease;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		background: material-color($dk, "400");
	}

	&:active,
	&:focus-visible {
		background: material-color($dk, "500");
	}

	&.chip-active {
		background: rgba(material-color($p, "100"), 0.4);
		color: material-color($p, "500");

		&:hover {
			background: rgba(material-color($p, "100"), 0.8);
		}

		&:active,
		&:focus-visible {
			background: material-color($p, "200");
		}
	}

	&.chip-disabled,
	&:disabled {
		background: material-color($dk, "100");
		color: material-color($dk, "600");
		cursor: not-allowed;
	}
}
