.chip {
	display: inline-flex;
  align-items: center;
  justify-content: center;
	cursor: pointer;

	background-color: tm-color("gray", 3);

	@include rounded(100);
	@include padding(8, 14);
	@include font-size(14);
	@include transition();

	&:hover {
		background-color: tm-color("gray", 4);
	}

	&:active,
	&:focus {
		background-color: tm-color("gray", 5);
	}

	/**
  *
  * Active state
  *
  */
	&.active {
		background-color: tm-color("primary", 1);
		color: tm-color("primary", 9);

		&:hover {
			background-color: tm-color("primary", 2);
		}

		&:active,
		&:focus {
			background-color: tm-color("primary", 3);
		}
	}

  /*
  *
  * After, Before items
  *
  */
  &_after {
    margin-left: 8px;
  }

  &_before {
    margin-right: 8px;
  }

  &_center {
    flex: 1;
  }
}
