.icon.floating {
	$size: #{$padding * 60px};

	min-height: $size;
	min-width: $size;
	max-height: $size;
	max-width: $size;

	background: tm-color("primary");
	color: tm-color("white");

	@include transition();
	@include font-size(20);
	@include elevation(4);

	&:hover,
	&:focus-visible {
		background: tm-color("primary", 6);

		@include elevation(8);
	}
}

@mixin floating-button($color) {
	background: tm-color($color);
	color: tm-color("white");

	&:hover,
	&:focus-visible {
		background: tm-color($color, 6);
	}
}

/**
*
* Colors
*
*/
.icon.floating {
	&.secondary {
		@include floating-button("secondary");
	}

	&.danger {
		@include floating-button("red");
	}

	&.success {
		@include floating-button("green");
	}

	&.warning {
		@include floating-button("yellow");

		color: #000;
	}

	&.blue {
		@include floating-button("blue");
	}
}
