.fab {
  $temp: $padding * 60px;
  max-width: $temp;
  max-height: $temp;
  min-width: $temp;
  min-height: $temp;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: material-color($dk, "200");
  color: #000;
  cursor: pointer;
  @include elevation(4);
  transition: all 0.2s ease;

  & .mdi {
    font-size: $font-size * 25px;
  }

  &:hover {
    background: material-color($dk, "300");
    @include elevation(8);
  }

  &:active,
  &:focus-visible {
    background: material-color($dk, "400");
    @include elevation(14);
  }

  &.primary {
    background: material-color($p, "500");
    color: #fff;

    &:hover {
      background: material-color($p, "600");
    }

    &:active,
    &:focus-visible {
      background: material-color($p, "700");
    }
  }

  &.secondary {
    background: material-color($s, "500");
    color: #fff;

    &:hover {
      background: material-color($s, "600");
    }

    &:active,
    &:focus-visible {
      background: material-color($s, "700");
    }
  }

  &.disabled,
  &:disabled {
    background: material-color($dk, "200");
    color: material-color($dk, "600");
    cursor: default;
    @include elevation(0);
  }
}
