.icon {
  $temp: $padding * 45px;
  max-width: $temp;
  max-height: $temp;
  min-width: $temp;
  min-height: $temp;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  border-radius: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  color: material-color($dk, "700");
  position: relative;

  & .mdi {
    font-size: $font-size * 20px;
    pointer-events: none;
  }

  &:hover {
    background: material-color($dk, "300");
    color: material-color($dk, "900");
  }

  &:focus-visible {
    background: material-color($dk, "400");
    color: material-color($dk, "900");
  }

  &.disabled,
  &:disabled {
    background: material-color($dk, "200");
    color: material-color($dk, "500");
    cursor: not-allowed;
  }
}
