@mixin icon($size) {
	min-height: $size;
	min-width: $size;
	max-height: $size;
	max-width: $size;
}

.icon {
	$size: #{$padding * 40};

	display: inline-flex;
	user-select: none;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	color: tm-color("gray", 8);

	@include transition();
	@include rounded(100);
	@include font-size(20);
	@include icon(#{$size}px);

	&:hover,
	&:focus-visible {
		background: rgba(0, 0, 0, 0.1);
	}

	/**
  *
  * Sizes
  *
  */
	&.sm {
		@include font-size(16);
		@include icon(30px);
	}

	&.lg {
		@include font-size(24);
		@include icon(40px);
	}
}
