.appbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $padding * 10px #{$padding * 16px};
	overflow: hidden;
	background: material-color($p);
	color: #fff;

	& .appbar-btn {
		border-radius: $border-radius * 4px;
		padding: #{$padding * 10px} #{$padding * 16px};
		font-size: $font-size * 14px;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		cursor: pointer;
		outline: none;
		display: inline-flex;
		user-select: none;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease;
		text-decoration: none;

		&.appbar-btn-active {
			background: material-color($p, "400") !important;

			&:hover,
			&:focus-visible,
			&:active {
				background: material-color($p, "300") !important;
			}
		}

		&:hover,
		&:focus-visible,
		&:active {
			background: material-color($p, "400");
		}
	}

	& .appbar-title {
		font-size: $font-size * 20px;
		font-weight: 500;
		margin: 0 $padding * 8px;
	}

	& .appbar-input {
		padding: $padding * 8px;
		border-radius: $border-radius * 4px;
		border: none;
		background: material-color($p, "200");
		width: 150px;
		transition: width 0.2s ease;

		&:hover,
		&:focus {
			background: material-color($p, "300");
		}

		&:focus {
			width: 200px;
		}
	}

	&.elevated {
		@include elevation(4);
	}

	&.elevating {
		transition: all 0.2s ease;
	}

	&.appbar-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99999;
		width: 100%;
	}
}
