.tooltip {
	background: material-color($dk, "900");
	font-size: $font-size * 11px;
	color: #fff;
	padding: $padding * 6px;
	border-radius: $border-radius * 4px;
	width: max-content;
	user-select: none;
	transition: all 0.2s ease;
	transform: scale(0.9);
	opacity: 0;
	position: absolute;
	clip-path: circle(46.5% at 50% 50%);

	&.tooltip-show {
		opacity: 1;
		clip-path: circle(100%);
		transform: scale(1);
	}
}
